<form style="margin-bottom:20px;" (ngSubmit)="submitRepo()">
  repo-host:
  <select name="repo_host" [(ngModel)]="newRepo.host_id">
    <option *ngFor="let host of hosts" [value]="host.id">{{host.name}}</option>
  </select><br> 
  repo-owner: 
  <input type="text" name="repo_owner" [(ngModel)]="newRepo.owner"><br>
  repo-name: 
  <input type="text" name="repo_name" [(ngModel)]="newRepo.name"><br/>
  <input type="submit" value="Add Repo">
</form>

<div *ngFor="let repo of repos">
  <a [href]="repoUrl(repo)" target="_blank">{{repo.name}}</a> | {{repo.owner}} <br>
  <button (click)="deleteRepo(repo)">Delete</button><br>
  tags:
  <span *ngFor="let tag of repo.tags" style="background-color:green;margin-right: 2px;"> {{tag.name}} <button (click)="deleteTag(repo, tag.name)">X</button> </span>
  <form (ngSubmit)="submitTag(repo)">
    <input type="text" name="tag_name" [(ngModel)]="repo.newTag">
    <input type="submit" value="Add">
  </form>
  <br>
</div>